*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: 'Lovers Quarrel', cursive;
  background: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  line-height: 1.5em;
  background: radial-gradient(circle at top, #2af5ff 0%, #081b33 35%, #231942 100%);
}

.book {
  transition: opacity 0.4s 0.2s;
  perspective: 250vw;
}

.book .pages {
  width: 60vw;
  height: 44vw;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
}

.page {
  float: none;
  clear: none;
  margin: 0;
  position: absolute;
  top: 0;
  width: 30vw;
  height: 40vw;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
  overflow: hidden;
}

.page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2;
}

.page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0,0,0,.15) 0%, rgba(0,0,0,0) 10%);
  background-position: right top;
}

.page:nth-child(odd):hover {
  transform: rotateY(-15deg);
}

.page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  background-image: linear-gradient(to left, rgba(0,0,0,.12) 0%, rgba(0,0,0,0) 10%);
}

.page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2);
}

.page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg);
}

.page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2);
}

.page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg);
}

.page.flipped:nth-child(even):hover {
  transform: rotateY(15deg);
}

.page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03);
}

.page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0);
}

p {
  margin-top: 4vw;
  text-align: center;
  font-size: 40px;
  color: #000000;
  padding: 0 2vw;
  line-height: 1.8;
}

.word {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  margin-right: 0.5em;
}

.line-break {
  display: block;
  margin-bottom: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .book .pages {
    width: 95vw;
    height: 80vw;
  }
  
  .page {
    width: 47.5vw;
    height: 80vw;
  }
  
  p {
    margin-top: 4vw;
    font-size: 3vw;
    padding: 3vw 4vw;
    line-height: 1.5;
  }
  
  .word {
    margin-right: 0.3em;
  }
  
  .line-break {
    margin-bottom: 10px;
  }
}